<!DOCTYPE html>
<html>
 
<head>
    <title>FlaskTest</title>
</head>
 
<body>
    <h2>Welcome To James Witts paint app.</h2>
    <h4>This website was made using flask</h4>
    <a href="{{ url_for('paintapp') }}">Paint app home</a> <br>
    <p>
      #A room isnt always going to be a perfect square <br>
      #---- _______________<br>
      #----/______________/|<br>
      #---/______________//|<br>
      #--/______________///|height<br>
      #-/_____width____////|<br>
      # |______________|////<br>
      # |______________|///depth<br> 
      # |______________|//<br>
      # |______________|/<br>
      #For use with flask in a dockerfile<br>
    </p>
    <!-- this section can be replaced by a child document --> 
{% block body %}

{% endblock %}
</body>
</html>

