<!DOCTYPE html>
<html>
<head>
  <title>Paint junder uk</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% providers_media %}
  <style>
    html, body{
      background-color: #919E9A;
    }
  </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
          <h1>Paint junder app</h1>
          <p>This site is under active development</p>
          <div>
            <a href="{% provider_login_url 'google' %}">Login with Google</a>
            <a href="{% url 'home' %}"><button>Homepage</button></a>
            <a href="{% url 'viewRooms' %}"><button>View/Delete rooms</button>
            <a href="{% url 'addRoom' %}"><button>Add a room</button></a>
        </div>
        </div>
        {% block body %}
        
        {% endblock %}
      </div>
</body>
</html>
