{% extends 'index.html' %}
 
{% block body %}
<p>{{ data }}</p>
<ul>
{% for i in list %}
{{ i.name }}
<li>width: {{ i.width }} </li>
  <li>  depth: {{ i.depth }}</li> 
   <li> height: {{ i.height }}</li>
<li>paint the walls: {{ i.calculatePaintWalls }}</li>
<li>calculate the floor area: {{ i.calculateFloorArea }}</li>
<li>calculate the volume: {{ i.calculateRoomVolume }}</li>
{% endfor %}
<form action = "" method = "post">
  {% csrf_token %}
  <input type="submit" value=Delete>
</form>
{% endblock %}